/*DEFAULT STYLE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*GLOBAL CSS VARIABLES*/
:root {
  --background_color: #191825;
  --logo_color1: #00fd9a;
  --logo_color2: #8460af;
  --green: #00ff53;
  --yellow: #fff403;
  --pink: #ff009e;
  --input_color: #2c3e50;
}

/*CUSTOM FONTS*/
@font-face {
  font-family: "Delight Coffee", sans-serif;
  src: url("/Fonts/delight-coffee/Delight Coffee.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Delight Coffee", sans-serif;
}

/*STYLES FOR ALL CONTAINERS*/
body {
  display: flex;
  flex-direction: column;
  font-family: "Delight Coffee", sans-serif;
  height: 100vh;
  background: var(--background_color);
}

.header,
.buttons,
.footer-content {
  flex: 0 0 auto;
}

body > footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: auto;
}

/*HEADER*/
.header,
.head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .img-logo {
  max-width: 90%;
  height: auto;
}

/*-section buttons-*/
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-button {
  margin-top: 2%;
}
.btn-htp,
.btn-play {
  margin: 10px;
}
.btn-play {
  padding: 10px 40px 10px 40px;
  background-color: transparent;
  color: var(--pink);
  border-radius: 15px;
  border: 2px solid var(--pink);
  box-shadow: 0 0 0px 1px var(--pink), 0 0 10px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 10px 2px var(--pink);
  font-family: "Delight Coffee", sans-serif;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.3em;
  -webkit-text-stroke: 1px var(--background_color);
  text-shadow: -2px 2px 5px var(--pink);
  transition: 100ms;
}
.btn-play:hover {
  box-shadow: 0 0 0px 1px var(--pink), 0 0 10px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 30px 2px var(--pink);
  text-shadow: 0 0 10px var(--pink);
  transform: translateY(-5px);
}
.btn-play:active {
  box-shadow: 0 0 0px 1px var(--pink), 0 0 25px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 30px 2px var(--pink);
  transform: translateY(1px);
}
.btn-htp {
  padding: 10px 40px 10px 40px;
  background-color: transparent;
  color: var(--yellow);
  border-radius: 15px;
  border: 2px solid var(--yellow);
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 10px 2px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 10px 2px var(--yellow);
  font-family: "Delight Coffee", sans-serif;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.3em;
  -webkit-text-stroke: 1px var(--background_color);
  text-shadow: -2px 2px 5px var(--yellow);
  transition: 100ms;
}
.btn-htp:hover {
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 10px 2px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 30px 2px var(--yellow);
  text-shadow: 0 0 10px var(--yellow);
  transform: translateY(-5px);
}
.btn-htp:active {
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 25px 2px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 30px 2px var(--yellow);
  transform: translateY(1px);
}

/*FOOTER*/
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.social-media {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.social-media a {
  color: var(--green);
  text-align: center;
  font-size: 35px;
  text-shadow: -2px -2px 5px var(--green), 2px -2px 5px var(--green),
    -2px 2px 5px var(--green), 2px 2px 5px var(--green);
  -webkit-text-stroke: 2px var(--background_color);
}
.one,
.three,
.two,
.four {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 100ms;
}
.one:hover,
.three:hover {
  background-color: transparent;
  border: 2px solid var(--pink);
  box-shadow: 0 0 0px 1px var(--pink), 0 0 20px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 20px 2px var(--pink);
  text-shadow: -2px 2px 5px var(--pink);
  -webkit-text-stroke: 1px var(--background_color);
  transform: translateY(-5px);
}
.one:hover a,
.one:hover i,
.three:hover a,
.three:hover i {
  color: var(--pink);
  line-height: 1.3em;
  text-shadow: -2px 2px 5px var(--pink);
  -webkit-text-stroke: 1px var(--background_color);
}
.one:active,
.three:active {
  box-shadow: 0 0 0px 1px var(--pink), 0 0 25px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 30px 2px var(--pink);
  transform: translateY(1px);
}
.two:hover,
.four:hover {
  background-color: transparent;
  border: 2px solid var(--yellow);
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 20px 2px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 20px 2px var(--yellow);
  text-shadow: -2px 2px 5px var(--yellow);
  -webkit-text-stroke: 1px var(--background_color);
  transform: translateY(-5px);
}
.two:hover a,
.two:hover i,
.four:hover a,
.four:hover i {
  color: var(--yellow);
  line-height: 1.3em;
  text-shadow: -2px 2px 5px var(--yellow);
  -webkit-text-stroke: 1px var(--background_color);
}
.two:active,
.four:active {
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 25px 2px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 30px 2px var(--yellow);
  transform: translateY(1px);
}
.brad {
  margin: 10px;
  color: var(--logo_color2);
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: -2px 2px 5px var(--logo_color2);
}
.brad span {
  text-shadow: -2px -2px 5px var(--logo_color2), 2px -2px 5px var(--logo_color2),
  -2px 2px 5px var(--logo_color2), 2px 2px 5px var(--logo_color2);
  -webkit-text-stroke: 1px var(--background_color);
}
/*-styles sweetalert2-*/
.swal2-popup {
  background: var(--background_color) !important;
}
.swal2-title {
  color: var(--logo_color1) !important;
  text-shadow: -2px 2px 5px var(--logo_color1) !important;
  -webkit-text-stroke: 1px var(--background_color) !important;
}
.swal2-html-container {
  color: var(--logo_color2) !important;
  text-shadow: -2px 2px 5px var(--logo_color2) !important;
  -webkit-text-stroke: 1px var(--background_color) !important;
}
.swal2-info{
  text-shadow: -2px -2px 5px #9de0f6, 2px -2px 5px #9de0f6,
  -2px 2px 5px #9de0f6, 2px 2px 5px #9de0f6 !important;
  box-shadow: 0 0 0px 1px #9de0f6, 0 0 25px 2px #9de0f6,
  inset 0 0 0px 1px #9de0f6, inset 0 0 30px 2px #9de0f6 !important;
  -webkit-text-stroke: 2px var(--background_color) !important;
}
.swal2-input {
  background-color: var(--input_color) !important;
  color: var(--logo_color2) !important;
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  font-family: "Delight Coffee", sans-serif !important;
}
.swal2-confirm {
  padding: 10px 40px 10px 40px !important;
  background-color: transparent !important;
  color: var(--pink) !important;
  border-radius: 15px !important;
  border: 2px solid var(--pink) !important;
  box-shadow: 0 0 0px 1px var(--pink), 0 0 10px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 10px 2px var(--pink) !important;
  font-family: "Delight Coffee", sans-serif !important;
  font-size: 25px !important;
  font-weight: bold !important;
  letter-spacing: 0.3em !important;
  text-shadow: -2px 2px 5px var(--pink) !important;
  -webkit-text-stroke: 1px var(--background_color) !important;
  transition: 100ms !important;
}
.swal2-confirm:hover {
  box-shadow: 0 0 0px 1px var(--pink), 0 0 10px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 30px 2px var(--pink) !important;
  text-shadow: 0 0 10px var(--pink) !important;
  transform: translateY(-5px) !important;
}
.swal2-confirm:active {
  box-shadow: 0 0 0px 1px var(--pink), 0 0 25px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 30px 2px var(--pink) !important;
  transform: translateY(1px) !important;
}
.swal2-cancel {
  padding: 10px 40px 10px 40px !important;
  background-color: transparent !important;
  color: var(--yellow) !important;
  border-radius: 15px !important;
  border: 2px solid var(--yellow) !important;
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 10px 2px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 10px 2px var(--yellow) !important;
  font-family: "Delight Coffee", sans-serif !important;
  font-size: 25px !important;
  font-weight: bold !important;
  letter-spacing: 0.3em !important;
  -webkit-text-stroke: 1px var(--background_color) !important;
  text-shadow: -2px 2px 5px var(--yellow) !important;
  transition: 100ms !important;
}
.swal2-cancel:hover {
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 10px 2px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 30px 2px var(--yellow) !important;
  text-shadow: 0 0 10px var(--yellow) !important;
  transform: translateY(-5px) !important;
}
.swal2-cancel:active {
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 25px 2px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 30px 2px var(--yellow) !important;
  transform: translateY(1px) !important;
}

/*RESPONSIVE*/
@media screen and (max-width: 1100px) {
  .container-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    margin: auto;
  }
}
@media screen and (max-width: 1100px) {
  .img-logo {
    height: 40vh !important;
  }
}

@media screen and (max-width: 589px) {
  .buttons {
    margin: 5%;
  }
  .container-button {
    margin-top: 10%;
    width: 74%;
    height: 20vh;
  }
  .btn-htp,
  .btn-play {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .social-media {
    justify-content: space-around;
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .container-button {
    width: 90%;
  }
  .swal2-confirm {
    padding: 10px !important;
    font-size: 20px !important;
  }
  .swal2-cancel {
    padding: 10px !important;
    font-size: 20px !important;
  }
}