* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*!Fuentes personalizadas*/
@font-face {
  font-family: "Delight Coffee", sans-serif;
  src: url("/Fonts/delight-coffee/Delight Coffee.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Delight Coffee", sans-serif;
}

/*Estilos para todos los contenedores*/
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Delight Coffee", sans-serif;
  background: rgba(25, 24, 37, 1);
  height: 100vh;
}
body > .brad {
  position: fixed;
}

.header,
.game,
.footer-content {
  flex: 0 0 auto;
}

/*header*/
.header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.header .head {
  margin: auto;
  width: 100%;
}
.header .img-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30%;
  height: 6vh;
}
.header .score {
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-align: center;
}
.score h3 {
  display: block;
  text-shadow: -2px 2px 5px #8460af;
  letter-spacing: 0.1em;
  color: #8560af;
  -webkit-text-stroke: 1px #191825;
}
.score span {
  text-shadow: -2px 2px 5px #00ff53;
  letter-spacing: 0.1em;
  -webkit-text-stroke: 1px #191825;
  color: #00ff53;
}

.header .player-name {
  text-transform: uppercase;
}

/*----------------Game-------------------*/
/*contenedor general*/
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80vh;
  margin: auto;
  padding: auto;
  border: 2px solid #00fd9a;
  border-radius: 5px;
  background: transparent;
  box-shadow: 0 0 10px 0px #00fd9a, inset 0 0 20px 0px #00fd9a;
}


/*elementos del contenedor*/
.cards,
.card,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 2px;
  flex-wrap: wrap;
}
.view {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.front-view {
  transform: rotateY(0deg);
 
}
.back-view {
  transform: rotateY(180deg);
  border-radius: 15px;
  box-shadow: 0 0 0px 1px #fff403, 0 0 10px 1px #fff403,
  inset 0 0 0px 1px #fff403, inset 0 0 35px 1px #fff403 !important;
  pointer-events: none;
}
.front-icon,
.back-icon {
  display: flex;
  justify-content: center;
  color: #fff403;
  -webkit-text-stroke: 3px black;
}
/*----------Estilo de las cartas para los niveles-----------*/

/*Level easy*/
.card-easy {
  position: relative; 
  width: calc(100% / 4 - 10px);
  height: calc(100% / 4 - 10px);
  margin: auto;
  background-color: transparent;
  border-radius: 15px;
  text-shadow: 0 0 10px #fff403;
  box-shadow: 0 0 0px 1px #ff009e, 0 0 10px 2px #ff009e,
  inset 0 0 0px 1px #ff009e, inset 0 0 40px 2px #ff009e;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.easy {
  font-size: 4.5em; /*tama単o iconos*/
}
/*Level medium*/
.card-medium {
  width: calc(100% / 6 - 10px);
  height: calc(100% / 4 - 10px);
  margin: auto;
  background-color: transparent;
  border-radius: 15px;
  text-shadow: 0 0 10px #fff403;
  box-shadow: 0 0 0px 1px #ff009e, 0 0 10px 2px #ff009e,
    inset 0 0 0px 1px #ff009e, inset 0 0 40px 2px #ff009e;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;
}
.medium {
  font-size: 4em; /*tama単o iconos */
}
/*Level hard*/
.card-hard {
  width: calc(100% / 6 - 10px);
  height: calc(100% / 6 - 10px);
  margin: auto;
  background-color: transparent;
  border-radius: 15px;
  text-shadow: 0 0 10px #fff403;
  box-shadow: 0 0 0px 1px #ff009e, 0 0 10px 2px #ff009e,
    inset 0 0 0px 1px #ff009e, inset 0 0 40px 2px #ff009e;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;
}
.hard {
  font-size: 3.3em; /*tama単o iconos */
}
/*hover efect cards*/
.card-easy:hover,
.card-medium:hover,
.card-hard:hover {
  transition: all 0.9s ease;
  box-shadow: 0 0 0px 1px #ff009e, 0 0 10px 2px #ff009e,
    inset 0 0 0px 1px #ff009e, inset 0 0 100px 2px #ff009e;
  text-shadow: 0 0 30px #ff009e;
}

/*Matched*/
.matched {
  transition: all 0.9s ease;
  cursor: none !important;
 
}
.matched-icon {
  color: #ff009e !important;
  text-shadow: 0 0 15px #ff009e !important;
}

/*///////////////////////////////////////////*/

/*Footer*/
.footer-content {
  display: flex;
  flex-wrap: wrap;
}

.brad {
  text-align: center;
  text-shadow: -2px 2px 5px #8460af;
  letter-spacing: 0.1em;
  margin: 2px;
  color: #8460af;
}
.brad span {
  -webkit-text-stroke: 1px #191825;
}

/*Estilos menu*/

.gear_icon {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #00ff53;
  box-shadow: 0 0 0px 1px #00ff53, 0 0 10px 2px #00ff53,
    inset 0 0 0px 1px #00ff53, inset 0 0 10px 2px #00ff53;
  transition: 100ms;
}
.gear_icon:hover {
  box-shadow: 0 0 0px 1px #00ff53, 0 0 10px 2px #00ff53,
    inset 0 0 0px 1px #00ff53 inset 0 0 30px 2px #00ff53;
  transform: translateY(-5px);
}

.gear_icon:active {
  box-shadow: 0 0 0px 1px #00ff53, 0 0 25px 2px #00ff53,
    inset 0 0 0px 1px #00ff53, inset 0 0 30px 2px #00ff53;
  transform: translateY(1px);
}

.container-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-image: url(../Img/wave-haikei.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.5);
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
}

.head-footer {
  display: none;
  margin: auto;
  width: 100%;
}
.img-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  height: 10vh;
}
.spread {
  transform: translate(0);
}
.setup_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
  margin: auto;
}
.setup_menu a {
  text-align: center;
  text-shadow: -2px 2px 5px #8460af;
  letter-spacing: 0.1em;
  -webkit-text-stroke: 1px #191825;
  color: #8560af;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  transition: 100ms;
}
/*Estilo de los botones*/
.one:hover,
.three:hover,
.five:hover {
  text-align: center;
  padding: 10px 30px 10px 30px;
  border-radius: 15px;
  letter-spacing: 0.3em;
  color: #ff009e;
  text-shadow: -2px 2px 5px #ff009e;
  -webkit-text-stroke: 1px #191825;
  background-color: transparent;
  border: 2px solid #ff009e;
  box-shadow: 0 0 0px 1px #ff009e, 0 0 10px 2px #ff009e,
    inset 0 0 0px 1px #ff009e, inset 0 0 30px 2px #ff009e;
  transform: translateY(-5px);
}
.one:active,
.three:active,
.five:active {
  box-shadow: 0 0 0px 1px #ff009e, 0 0 25px 2px #ff009e,
    inset 0 0 0px 1px #ff009e, inset 0 0 30px 2px #ff009e;
  transform: translateY(1px);
}

.two:hover,
.four:hover {
  padding: 10px 30px 10px 30px;
  border-radius: 15px;
  color: #fff403;
  letter-spacing: 0.3em;
  text-shadow: -2px 2px 5px #fff403;
  -webkit-text-stroke: 1px #191825;
  background-color: transparent;
  border: 2px solid #fff403;
  box-shadow: 0 0 0px 1px #fff403, 0 0 10px 2px #fff403,
    inset 0 0 0px 1px #fff403, inset 0 0 30px 2px #fff403;
  transform: translateY(-5px);
}
.two:active,
.four:active {
  box-shadow: 0 0 0px 1px #fff403, 0 0 25px 2px #fff403,
    inset 0 0 0px 1px #fff403, inset 0 0 30px 2px #fff403;
  transform: translateY(1px);
}
.social-media {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
  margin: auto;
}
.social-media a {
  color: #8560af;
  text-shadow: -2px 2px 5px #8560af;
  -webkit-text-stroke: 2px #191825;
  font-size: 35px;
  text-align: center;
}
.one-icon,
.three-icon,
.two-icon,
.four-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 100ms;
}
.one-icon:hover,
.three-icon:hover {
  background-color: transparent;
  border: 2px solid #ff009e;
  text-shadow: -2px 2px 5px #ff009e;
  -webkit-text-stroke: 1px #191825;
  box-shadow: 0 0 0px 1px #ff009e, 0 0 20px 2px #ff009e,
    inset 0 0 0px 1px #ff009e, inset 0 0 20px 2px #ff009e;
  transform: translateY(-5px);
}
.one-icon:hover a,
.one-icon:hover i,
.three-icon:hover a,
.three-icon:hover i {
  color: #ff009e;
  text-shadow: -2px 2px 5px #ff009e;
  -webkit-text-stroke: 1px #191825;
  line-height: 1.3em;
}
.one-icon:active,
.three-icon:active {
  box-shadow: 0 0 0px 1px #ff009e, 0 0 25px 2px #ff009e,
    inset 0 0 0px 1px #ff009e, inset 0 0 30px 2px #ff009e;
  transform: translateY(1px);
}
.two-icon:hover,
.four-icon:hover {
  background-color: transparent;
  border: 2px solid #fff403;
  text-shadow: -2px 2px 5px #fff403;
  -webkit-text-stroke: 1px #191825;
  box-shadow: 0 0 0px 1px #fff403, 0 0 20px 2px #fff403,
    inset 0 0 0px 1px #fff403, inset 0 0 20px 2px #fff403;
  transform: translateY(-5px);
}
.two-icon:hover a,
.two-icon:hover i,
.four-icon:hover a,
.four-icon:hover i {
  color: #fff403;
  text-shadow: -2px 2px 5px #fff403;
  -webkit-text-stroke: 1px #191825;
  line-height: 1.3em;
}
.two-icon:active,
.four-icon:active {
  box-shadow: 0 0 0px 1px #fff403, 0 0 25px 2px #fff403,
    inset 0 0 0px 1px #fff403, inset 0 0 30px 2px #fff403;
  transform: translateY(1px);
}

/*styles sweetalert2*/

.swal2-popup {
  background: rgba(25, 24, 37, 1) !important;
}

.swal2-title {
  color: #00fd9a !important;
  text-shadow: -2px 2px 5px #00fd9a !important;
  -webkit-text-stroke: 1px #191825 !important;
}

.swal2-html-container {
  color: #8560af !important;
  text-shadow: -2px 2px 5px #8560af !important;
  -webkit-text-stroke: 1px #191825 !important;
}

.swal2-input {
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  color: #8460af !important;
  background-color: #2c3e50 !important;
  font-family: "Delight Coffee", sans-serif !important;
}

:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #8460af;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
  font-size: 18px;
  font-family: "Delight Coffee", sans-serif;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  display: flex;
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: #00ff53;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #8460af;
}

.select option:checked {
  color: #00fd9a;
}

.swal2-confirm {
  font-family: "Delight Coffee", sans-serif !important;
  padding: 10px 40px 10px 40px !important;
  font-size: 25px !important;
  font-weight: bold !important;
  border-radius: 15px !important;
  color: #ff009e !important;
  letter-spacing: 0.3em !important;
  text-shadow: -2px 2px 5px #ff009e !important;
  -webkit-text-stroke: 1px #191825 !important;
  background-color: transparent !important;
  border: 2px solid #ff009e !important;
  box-shadow: 0 0 0px 1px #ff009e, 0 0 10px 2px #ff009e,
    inset 0 0 0px 1px #ff009e, inset 0 0 10px 2px #ff009e !important;
  transition: 100ms !important;
}

.swal2-confirm:hover {
  box-shadow: 0 0 0px 1px #ff009e, 0 0 10px 2px #ff009e,
    inset 0 0 0px 1px #ff009e, inset 0 0 30px 2px #ff009e !important;
  text-shadow: 0 0 10px #ff009e !important;
  transform: translateY(-5px) !important;
}
.swal2-confirm:active {
  box-shadow: 0 0 0px 1px #ff009e, 0 0 25px 2px #ff009e,
    inset 0 0 0px 1px #ff009e, inset 0 0 30px 2px #ff009e !important;
  transform: translateY(1px) !important;
}
.swal2-confirm:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 6px 6px rgb(255, 0, 158);
  text-shadow: 1px 1px 2px rgb(255, 0, 158);
}

.swal2-cancel {
  font-family: "Delight Coffee", sans-serif !important;
  padding: 10px 40px 10px 40px !important;
  font-size: 25px !important;
  font-weight: bold !important;
  border-radius: 15px !important;
  color: #fff403 !important;
  letter-spacing: 0.3em !important;
  -webkit-text-stroke: 1px #191825 !important;
  text-shadow: -2px 2px 5px #fff403 !important;
  background-color: transparent !important;
  border: 2px solid #fff403 !important;
  box-shadow: 0 0 0px 1px #fff403, 0 0 10px 2px #fff403,
    inset 0 0 0px 1px #fff403, inset 0 0 10px 2px #fff403 !important;
  transition: 100ms !important;
}

.swal2-cancel:hover {
  box-shadow: 0 0 0px 1px #fff403, 0 0 10px 2px #fff403,
    inset 0 0 0px 1px #fff403, inset 0 0 30px 2px #fff403 !important;
  text-shadow: 0 0 10px #fff403 !important;
  transform: translateY(-5px) !important;
}

.swal2-cancel:active {
  box-shadow: 0 0 0px 1px #fff403, 0 0 25px 2px #fff403,
    inset 0 0 0px 1px #fff403, inset 0 0 30px 2px #fff403 !important;
  transform: translateY(1px) !important;
}

/*Responsive*/
@media screen and (max-width: 780px) {
  /*cards responsive*/
  .game {
    width: 95%;
  }

  /*Menu desplegable responsive*/
  .gear_icon {
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 1vh;
    top: 1vh;
  }

  .container-menu {
    width: 35vh;
  }
  .setup_menu a {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 560px) {
  .card-medium {
    width: calc(100% / 4 - 10px);
    height: calc(90% / 6 - 10px);
  } 
  

  /*tama単o iconos*/

  .medium {
    font-size: 3em; 
  }

}

@media screen and (max-width: 480px) {
  /*Responsive header*/
  .head-footer {
    display: block;
  }
  .brad {
    font-size: 12px;
  }

  .header .head,
  .header .img-logo {
    display: none;
  }

  .header .score {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    font-size: 0.9em;
  }

  .header .score > .player,
  .header .score > .time {
    flex: 50% 1 0;
    text-align: center;
    display: inline-block;
  }

  .header .score > .movimientos {
    order: -1;
    flex: 100% 1 0;
    text-align: center;
  }

  /*cards responsive*/



}

@media screen and (max-width: 447px) {
  .card-easy {
    width: calc(100% / 4 - 10px );
    height: calc(85% / 4 - 10px);

   
  } 
  .card-hard {
    width: calc(100% / 4 - 10px);
    height: calc(100% / 9 - 10px);
  }
  .easy{
    font-size: 3.5em;
  }
  .hard{
    font-size: 2.5em;
  }
  .swal2-confirm {
    padding: 10px !important;
    font-size: 20px !important;
  }
  .swal2-cancel{
    padding: 10px !important;
    font-size: 20px !important;
  }
}

