* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*!Fuentes personalizadas*/
@font-face {
  font-family: "Delight Coffee", sans-serif;
  src: url("/Fonts/delight-coffee/Delight Coffee.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Delight Coffee", sans-serif;
}



body {
  display: flex; 
  flex-direction: column;
  font-family: "Delight Coffee", sans-serif;
  background: rgba(25, 24, 37, 1);
  height: 100vh;
}

/*Estilos para todos los contenedores*/

.header, .buttons, .footer-content{
  flex: 0 0 auto;
}

body > footer {
  position: fixed;
  width: 100%;
  bottom: 0; 
  margin-top: auto;
}

/* .container {
  display: flex;
  flex-direction: column;
  height: 100%;
} */

/*header*/
.header, .head {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header .img-logo {
 
  max-width: 90%;
  height: auto;
  
}

/*section buttons*/

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.container-button {
  margin-top: 2%;
} 
.btn-htp,.btn-play{
  margin: 10px;
}
.btn-play {
  font-family: "Delight Coffee", sans-serif;
  padding: 10px 40px 10px 40px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  color: #FF009E;
  letter-spacing: 0.3em;
  text-shadow: -2px 2px 5px #FF009E;
  -webkit-text-stroke: 1px #191825;
  background-color: transparent;
  border: 2px solid #FF009E;
  box-shadow: 0 0 0px 1px #FF009E,
    0 0 10px 2px #FF009E,
    inset 0 0 0px 1px #FF009E,
    inset 0 0 10px 2px #FF009E;
  transition: 100ms;
}

.btn-play:hover {
  box-shadow: 0 0 0px 1px #FF009E,
    0 0 10px 2px #FF009E,
    inset 0 0 0px 1px #FF009E,
    inset 0 0 30px 2px #FF009E;
  text-shadow: 0 0 10px #FF009E;
  transform: translateY(-5px);
}

.btn-play:active {
  box-shadow: 0 0 0px 1px #FF009E,
    0 0 25px 2px #FF009E,
    inset 0 0 0px 1px #FF009E,
    inset 0 0 30px 2px #FF009E;
  transform: translateY(1px);
}

.btn-htp {
  font-family: "Delight Coffee", sans-serif;
  padding: 10px 40px 10px 40px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  color: #fff403;
  letter-spacing: 0.3em;
  -webkit-text-stroke: 1px #191825;
  text-shadow: -2px 2px 5px  #fff403;
  background-color: transparent;
  border: 2px solid  #fff403;
  box-shadow: 0 0 0px 1px  #fff403,
    0 0 10px 2px  #fff403,
    inset 0 0 0px 1px  #fff403,
    inset 0 0 10px 2px  #fff403;
  transition: 100ms;
}

.btn-htp:hover {
  box-shadow: 0 0 0px 1px  #fff403,
    0 0 10px 2px  #fff403,
    inset 0 0 0px 1px  #fff403,
    inset 0 0 30px 2px  #fff403;
  text-shadow: 0 0 10px  #fff403;
  transform: translateY(-5px);
}

.btn-htp:active {
  box-shadow: 0 0 0px 1px  #fff403,
    0 0 25px 2px  #fff403,
    inset 0 0 0px 1px  #fff403,
    inset 0 0 30px 2px  #fff403;
  transform: translateY(1px);
}

/*Footer*/

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 20px; */
}

.social-media {
  width: 47%; 
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.social-media-icon {
  
  /* Arriba | Derecha | Abajo | Izquierda */
  margin: 0 10px 0 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #00FF53;
  -webkit-text-stroke: 1px #191825;
  text-shadow: -2px 2px 5px #00FF53;
}

.social-media-icon i {
  
  font-size: 30px;
  line-height: 55px;
}

.social-media-icon .fa-facebook-f:hover {
  color: #fff;
  background: rgb(14, 140, 233);
  box-shadow: 1px 2px 2px 5px rgb(14, 140, 233);
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  transform: scale(1.1);
  border-radius: 50%;
  font-size: 35px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  -webkit-text-stroke: 0;
}

.social-media-icon .fa-instagram:hover {
  color: #fff;
  background: rgba(221, 41, 111, 1);
  border-radius: 50%;
  box-shadow: 1px 2px 2px 5px rgba(221, 41, 111, 1);
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  font-size: 35px;
  transform: scale(1.1);
  width: 50px;
  height: 50px;
  line-height: 50px;
  -webkit-text-stroke: 0;
}

.social-media-icon .fa-github:hover {
  color: #fff;
  background: #000000;
  border-radius: 50%;
  box-shadow: 1px 2px 2px 5px rgb(0, 0, 0);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  font-size: 35px;
  transform: scale(1.1);
  width: 50px;
  height: 50px;
  line-height: 50px;
  -webkit-text-stroke: 0;
}
.social-media-icon .fa-linkedin-in:hover {
  color: #fff;
  background: #0074b0;
  transform: scale(1.1);
  border-radius: 50%;
  box-shadow: 1px 2px 2px 5px rgb(0, 116, 176);
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  font-size: 35px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  -webkit-text-stroke: 0;
}

.brad {
 
  text-align: center;
  
  text-shadow: -2px 2px 5px #8460af;
  letter-spacing: 0.1em;
  margin: 10px;
  color: #8460af;
  
}
.brad span{
  -webkit-text-stroke: 1px #191825;
}


/*styles sweetalert2*/

.swal2-popup {
  background: rgba(25, 24, 37, 1) !important;
}

.swal2-title {
  color: #00fd9a !important;
}

.swal2-html-container {
  color: #8560af !important;
}

.swal2-input {
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  color: #8460af !important;
  background-color: #2c3e50 !important;
  font-family: "Delight Coffee", sans-serif !important;
}

/* .swal2-confirm {
  border-radius: 10px !important;
  padding: 10px 40px 5px 40px !important;
  margin: 20px !important;
  line-height: 1 !important;
  border: 5px solid #ff009e !important;
  color: #ff009e !important;
  background: none !important;
  font-family: "Delight Coffee", sans-serif !important;
  font-size: 25px !important;
} */
.swal2-confirm {
  font-family: "Delight Coffee", sans-serif !important;
  padding: 10px 40px 10px 40px !important;
  font-size: 25px !important;
  font-weight: bold !important;
  border-radius: 15px !important;
  color: #FF009E !important;
  letter-spacing: 0.3em !important;
  text-shadow: -2px 2px 5px #FF009E !important;
  -webkit-text-stroke: 1px #191825 !important;
  background-color: transparent !important;
  border: 2px solid #FF009E !important;
  box-shadow: 0 0 0px 1px #FF009E,
    0 0 10px 2px #FF009E,
    inset 0 0 0px 1px #FF009E,
    inset 0 0 10px 2px #FF009E !important;
  transition: 100ms !important;
}

.swal2-confirm:hover {
  box-shadow: 0 0 0px 1px #FF009E,
    0 0 10px 2px #FF009E,
    inset 0 0 0px 1px #FF009E,
    inset 0 0 30px 2px #FF009E !important;
  text-shadow: 0 0 10px #FF009E !important;
  transform: translateY(-5px) !important;
}
.swal2-confirm:active {
  box-shadow: 0 0 0px 1px #FF009E,
    0 0 25px 2px #FF009E,
    inset 0 0 0px 1px #FF009E,
    inset 0 0 30px 2px #FF009E !important;
  transform: translateY(1px) !important;
}
.swal2-confirm:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 6px 6px rgb(255, 0, 158);
  text-shadow: 1px 1px 2px rgb(255, 0, 158);
}


.swal2-cancel {
  font-family: "Delight Coffee", sans-serif !important;
  padding: 10px 40px 10px 40px !important;
  font-size: 25px !important;
  font-weight: bold !important;
  border-radius: 15px !important;
  color: #fff403 !important;
  letter-spacing: 0.3em !important;
  -webkit-text-stroke: 1px #191825 !important;
  text-shadow: -2px 2px 5px  #fff403 !important;
  background-color: transparent !important;
  border: 2px solid  #fff403 !important;
  box-shadow: 0 0 0px 1px  #fff403,
    0 0 10px 2px  #fff403,
    inset 0 0 0px 1px  #fff403,
    inset 0 0 10px 2px  #fff403 !important;
  transition: 100ms !important;
}

.swal2-cancel:hover {
  box-shadow: 0 0 0px 1px  #fff403,
    0 0 10px 2px  #fff403,
    inset 0 0 0px 1px  #fff403,
    inset 0 0 30px 2px  #fff403 !important;
  text-shadow: 0 0 10px  #fff403 !important;
  transform: translateY(-5px) !important;
}

.swal2-cancel:active {
  box-shadow: 0 0 0px 1px  #fff403,
    0 0 25px 2px  #fff403,
    inset 0 0 0px 1px  #fff403,
    inset 0 0 30px 2px  #fff403 !important;
  transform: translateY(1px) !important;
}



/*Responsive*/
@media screen and (max-width: 1100px) {
 


  .container-button {
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    margin: auto;
    
  }


}

@media screen and (max-width: 1100px) {
 
  .img-logo {
    height: 40vh !important;
  }

}

@media screen and (max-width: 589px) {
 
  .buttons{
    margin: 5%;
  }

  .container-button {
    margin-top: 10%;
    width: 74%;
    height: 20vh;
    
  }

  .btn-htp,.btn-play{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .social-media{
  
   width: 100%;
    
  }
  .social-media{
  
    margin: 0 0 0 0;
     
   }
  /* .brad {
    
  } */
}
@media screen and (max-width: 360px) {
 


  .container-button {
   
    width: 90%;
    
  }


}