/*DEFAULT STYLE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*GLOBAL CSS VARIABLES*/
:root {
  --background_color: #191825;
  --logo_color1: #00fd9a;
  --logo_color2: #8460af;
  --green: #00ff53;
  --yellow: #fff403;
  --pink: #ff009e;
  --input_color: #2c3e50;
  --input_color2: #34495e;
}

/*CUSTOM FONTS*/
@font-face {
  font-family: "Delight Coffee", sans-serif;
  src: url("/Fonts/delight-coffee/Delight Coffee.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Delight Coffee", sans-serif;
}

/*STYLES FOR ALL CONTAINERS*/
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Delight Coffee", sans-serif;
  background: var(--background_color);
  height: 100vh;
}
body > .brad {
  position: fixed;
}


.header,
.game,
.footer-content {
  flex: 0 0 auto;
}

/*SECTION HEADER*/
.header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.header .head {
  margin: auto;
  width: 100%;
}
.header .img-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30%;
  height: 6vh;
}
.header .score {
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-align: center;
}
.score h3 {
  display: block;
  text-shadow: -2px -2px 5px var(--logo_color2), 2px -2px 5px var(--logo_color2),
    -2px 2px 5px var(--logo_color2), 2px 2px 5px var(--logo_color2);
  letter-spacing: 0.1em;
  color: var(--logo_color2);
  -webkit-text-stroke: 1px var(--background_color);
}
.score span {
  text-shadow: -2px -2px 5px var(--green), 2px -2px 5px var(--green),
    -2px 2px 5px var(--green), 2px 2px 5px var(--green);
  letter-spacing: 0.1em;
  -webkit-text-stroke: 1px var(--background_color);
  color: var(--green);
}
.header .player-name {
  text-transform: uppercase;
}

/*SECTION GAME*/

/*-general container-*/
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80vh;
  margin: auto;
  padding: auto;
  border: 2px solid var(--logo_color1);
  border-radius: 5px;
  background: transparent;
  box-shadow: 0 0 10px 0px var(--logo_color1),
    inset 0 0 20px 0px var(--logo_color1);
}

/*-container elements-*/
.cards,
.card,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 2px;
  flex-wrap: wrap;
}
.view {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.front-view {
  transform: rotateY(0deg);
  transition: transform 0.5s ease-out;
  transform-origin: center;
  backface-visibility: hidden;
  perspective: 1000px;
}
.back-view {
  transform: rotateY(180deg);
  transform-origin: center;
  backface-visibility: hidden;
  perspective: 1000px;
  animation-name: flip;
  animation-duration: 0.5s;
  border-radius: 15px;
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 10px 1px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 35px 1px var(--yellow) !important;
  pointer-events: none;
}
@keyframes flip {
  0% {
    transform: rotateY(0deg) ;
  }
  50% {
    transform: rotateY(100deg) ;
  }
  100% {
    transform: rotateY(180deg) ;
  }
}




.front-icon,
.back-icon {
  display: flex;
  justify-content: center;
  color: var(--yellow);
  -webkit-text-stroke: 3px var(--background_color);
}
/*-card style for levels-*/

/*Level easy*/
.card-easy {
  position: relative;
  width: calc(100% / 4 - 10px);
  height: calc(100% / 4 - 10px);
  margin: auto;
  background-color: transparent;
  border-radius: 15px;
  text-shadow: 0 0 10px var(--yellow);
  box-shadow: 0 0 0px 1px var(--pink), 0 0 10px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 40px 2px var(--pink);
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  
  cursor: pointer;
}
.easy {
  font-size: 4.5em;
}

/*Level medium*/
.card-medium {
  width: calc(100% / 6 - 10px);
  height: calc(100% / 4 - 10px);
  margin: auto;
  background-color: transparent;
  border-radius: 15px;
  text-shadow: 0 0 10px var(--yellow);
  box-shadow: 0 0 0px 1px var(--pink), 0 0 10px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 40px 2px var(--pink);
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;
}
.medium {
  font-size: 4em;
}

/*Level hard*/
.card-hard {
  width: calc(100% / 6 - 10px);
  height: calc(100% / 6 - 10px);
  margin: auto;
  background-color: transparent;
  border-radius: 15px;
  text-shadow: 0 0 10px var(--yellow);
  box-shadow: 0 0 0px 1px var(--pink), 0 0 10px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 40px 2px var(--pink);
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;
}
.hard {
  font-size: 3.3em;
}

/*-hover efect cards-*/
.card-easy:hover,
.card-medium:hover,
.card-hard:hover {
  transition: all 0.5s ease;
  box-shadow: 0 0 0px 1px var(--pink), 0 0 10px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 100px 2px var(--pink);
  text-shadow: 0 0 30px var(--pink);
}

/*matched cards*/
.matched {
  transition: all 0.9s ease;
  cursor: none !important;
}
.matched-icon {
  color: var(--pink) !important;
  text-shadow: 0 0 15px var(--pink) !important;
}

/*FOOTER*/
.footer-content {
  display: flex;
  flex-wrap: wrap;
}
.brad {
  text-align: center;
  text-shadow: -2px 2px 5px var(--logo_color2);
  letter-spacing: 0.1em;
  margin: 2px;
  color: var(--logo_color2);
}
.brad span {
  text-shadow: -2px -2px 5px var(--logo_color2), 2px -2px 5px var(--logo_color2),
    -2px 2px 5px var(--logo_color2), 2px 2px 5px var(--logo_color2);
  -webkit-text-stroke: 1px var(--background_color);
}

/*-styles Menu-*/

.gear-icon {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--green);
  box-shadow: 0 0 0px 1px var(--green), 0 0 10px 2px var(--green),
    inset 0 0 0px 1px var(--green), inset 0 0 10px 2px var(--green);
  transition: 100ms;
}
.gear-icon:hover {
  box-shadow: 0 0 0px 1px var(--green), 0 0 10px 2px var(--green),
    inset 0 0 0px 1px var(--green), inset 0 0 5px 2px var(--green);
  transform: translateY(-5px);
}

.gear-icon:active {
  box-shadow: 0 0 0px 1px var(--green), 0 0 25px 2px var(--green),
    inset 0 0 0px 1px var(--green), inset 0 0 5px 2px var(--green);
  transform: translateY(1px);
}
.container-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-image: url(../Img/wave-haikei.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
}
.head-footer {
  display: none;
  margin: auto;
  width: 100%;
}
.img-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  height: 10vh;
}
.spread {
  transform: translate(0);
}
.setup_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
  margin: auto;
}
.setup_menu a {
  text-align: center;
  text-shadow: -2px -2px 5px var(--logo_color2), 2px -2px 5px var(--logo_color2),
    -2px 2px 5px var(--logo_color2), 2px 2px 5px var(--logo_color2);
  letter-spacing: 0.1em;
  -webkit-text-stroke: 1px var(--background_color);
  color: var(--logo_color2);
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  transition: 100ms;
}
/*-button style-*/
.one:hover,
.three:hover,
.five:hover {
  text-align: center;
  padding: 10px 30px 10px 30px;
  border-radius: 15px;
  letter-spacing: 0.2em;
  color: var(--pink);
  text-shadow: -2px 2px 5px var(--pink);
  -webkit-text-stroke: 1px var(--background_color);
  background-color: transparent;
  border: 2px solid var(--pink);
  box-shadow: 0 0 0px 1px var(--pink), 0 0 10px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 30px 2px var(--pink);
  transform: translateY(-5px);
}
.one:active,
.three:active,
.five:active {
  box-shadow: 0 0 0px 1px var(--pink), 0 0 25px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 30px 2px var(--pink);
  transform: translateY(1px);
}
.two:hover,
.four:hover {
  padding: 10px 30px 10px 30px;
  border-radius: 15px;
  color: var(--yellow);
  letter-spacing: 0.3em;
  text-shadow: -2px 2px 5px var(--yellow);
  -webkit-text-stroke: 1px var(--background_color);
  background-color: transparent;
  border: 2px solid var(--yellow);
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 10px 2px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 30px 2px var(--yellow);
  transform: translateY(-5px);
}
.two:active,
.four:active {
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 25px 2px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 30px 2px var(--yellow);
  transform: translateY(1px);
}
.social-media {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
  margin: auto;
}
.social-media a {
  color: var(--logo_color2);
  text-shadow: -2px -2px 5px var(--logo_color2), 2px -2px 5px var(--logo_color2),
    -2px 2px 5px var(--logo_color2), 2px 2px 5px var(--logo_color2);
  -webkit-text-stroke: 2px var(--background_color);
  font-size: 35px;
  text-align: center;
}
.one-icon,
.three-icon,
.two-icon,
.four-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 100ms;
}
.two-icon:hover,
.four-icon:hover {
  background-color: transparent;
  border: 2px solid var(--pink);
  text-shadow: -2px 2px 5px var(--pink);
  -webkit-text-stroke: 1px var(--background_color);
  box-shadow: 0 0 0px 1px var(--pink), 0 0 20px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 20px 2px var(--pink);
  transform: translateY(-5px);
}
.two-icon:hover a,
.two-icon:hover i,
.four-icon:hover a,
.four-icon:hover i {
  color: var(--pink);
  text-shadow: -2px 2px 5px var(--pink);
  -webkit-text-stroke: 1px var(--background_color);
  line-height: 1.3em;
}
.two-icon:active,
.four-icon:active {
  box-shadow: 0 0 0px 1px var(--pink), 0 0 25px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 30px 2px var(--pink);
  transform: translateY(1px);
}
.one-icon:hover,
.three-icon:hover {
  background-color: transparent;
  border: 2px solid var(--yellow);
  text-shadow: -2px 2px 5px var(--yellow);
  -webkit-text-stroke: 1px var(--background_color);
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 20px 2px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 20px 2px var(--yellow);
  transform: translateY(-5px);
}
.one-icon:hover a,
.one-icon:hover i,
.three-icon:hover a,
.three-icon:hover i {
  color: var(--yellow);
  text-shadow: -2px 2px 5px var(--yellow);
  -webkit-text-stroke: 1px var(--background_color);
  line-height: 1.3em;
}
.one-icon:active,
.three-icon:active {
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 25px 2px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 30px 2px var(--yellow);
  transform: translateY(1px);
}

/*-styles sweetalert2-*/
.swal2-popup {
  background: var(--background_color) !important;
}
.swal2-title {
  color: var(--logo_color1) !important;
  text-shadow: -2px 2px 5px var(--logo_color1) !important;
  -webkit-text-stroke: 1px var(--background_color) !important;
}
.swal2-html-container {
  color: var(--logo_color2) !important;
  text-shadow: -2px 2px 5px var(--logo_color2) !important;
  -webkit-text-stroke: 1px var(--background_color) !important;
}
.swal2-icon.swal2-info{
  text-shadow: -2px -2px 5px #9de0f6, 2px -2px 5px #9de0f6,
  -2px 2px 5px #9de0f6, 2px 2px 5px #9de0f6 !important;
  box-shadow: 0 0 0px 1px #9de0f6, 0 0 25px 2px #9de0f6,
  inset 0 0 0px 1px #9de0f6, inset 0 0 30px 2px #9de0f6 !important;
  -webkit-text-stroke: 2px var(--background_color) !important;
}
.swal2-input {
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  color: var(--logo_color2) !important;
  background-color: var(--input_color) !important;
  font-family: "Delight Coffee", sans-serif !important;
}
.swal2-confirm {
  font-family: "Delight Coffee", sans-serif !important;
  padding: 10px 40px 10px 40px !important;
  font-size: 25px !important;
  font-weight: bold !important;
  border-radius: 15px !important;
  color: var(--pink) !important;
  letter-spacing: 0.3em !important;
  text-shadow: -2px 2px 5px var(--pink) !important;
  -webkit-text-stroke: 1px var(--background_color) !important;
  background-color: transparent !important;
  border: 2px solid var(--pink) !important;
  box-shadow: 0 0 0px 1px var(--pink), 0 0 10px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 10px 2px var(--pink) !important;
  transition: 100ms !important;
}
.swal2-confirm:hover {
  box-shadow: 0 0 0px 1px var(--pink), 0 0 10px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 30px 2px var(--pink) !important;
  text-shadow: 0 0 10px var(--pink) !important;
  transform: translateY(-5px) !important;
}
.swal2-confirm:active {
  box-shadow: 0 0 0px 1px var(--pink), 0 0 25px 2px var(--pink),
    inset 0 0 0px 1px var(--pink), inset 0 0 30px 2px var(--pink) !important;
  transform: translateY(1px) !important;
}
.swal2-cancel {
  font-family: "Delight Coffee", sans-serif !important;
  padding: 10px 40px 10px 40px !important;
  font-size: 25px !important;
  font-weight: bold !important;
  border-radius: 15px !important;
  color: var(--yellow) !important;
  letter-spacing: 0.3em !important;
  -webkit-text-stroke: 1px var(--background_color) !important;
  text-shadow: -2px 2px 5px var(--yellow) !important;
  background-color: transparent !important;
  border: 2px solid var(--yellow) !important;
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 10px 2px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 10px 2px var(--yellow) !important;
  transition: 100ms !important;
}
.swal2-cancel:hover {
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 10px 2px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 30px 2px var(--yellow) !important;
  text-shadow: 0 0 10px var(--yellow) !important;
  transform: translateY(-5px) !important;
}
.swal2-cancel:active {
  box-shadow: 0 0 0px 1px var(--yellow), 0 0 25px 2px var(--yellow),
    inset 0 0 0px 1px var(--yellow), inset 0 0 30px 2px var(--yellow) !important;
  transform: translateY(1px) !important;
}
/*-custom select-*/
select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: var(--logo_color2);
  background-color: var(--input_color);
  background-image: none;
  cursor: pointer;
  font-size: 18px;
  font-family: "Delight Coffee", sans-serif;
}
/*-remove IE arrow-*/
select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
/*-arrow-*/
.select::after {
  display: flex;
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: var(--green);
  background-color: var(--input_color2);
  transition: 0.25s all ease;
  pointer-events: none;
}
/*-transition-*/
.select:hover::after {
  color: var(--logo_color2);
}
.select option:checked {
  color: var(--logo_color1);
}

/*RESPONSIVE*/
@media screen and (max-width: 780px) {
  /*-cards responsive-*/
  .game {
    width: 95%;
  }
  /*-drop-down menu responsive-*/
  .gear_icon {
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 1vh;
    top: 1vh;
  }
  .container-menu {
    width: 35vh;
  }
  .setup_menu a {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 560px) {
  /*-cards levels responsive-*/
  .card-medium {
    width: calc(100% / 4 - 10px);
    height: calc(90% / 6 - 10px);
  }
  /*-card icon size-*/
  .medium {
    font-size: 3em;
  }
}
@media screen and (max-width: 480px) {
  /*-Responsive header-*/
  .head-footer {
    display: block;
  }
  .brad {
    font-size: 12px;
  }
  .header .head,
  .header .img-logo {
    display: none;
  }
  .header .score {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    font-size: 0.9em;
  }
  .header .score > .player,
  .header .score > .time {
    flex: 50% 1 0;
    text-align: center;
    display: inline-block;
  }
  .header .score > .movimientos {
    order: -1;
    flex: 100% 1 0;
    text-align: center;
  }
}
@media screen and (max-width: 447px) {
  /*-cards levels responsive-*/
  .card-easy {
    width: calc(100% / 4 - 10px);
    height: calc(85% / 4 - 10px);
  }
  .card-hard {
    width: calc(100% / 4 - 10px);
    height: calc(100% / 9 - 10px);
  }
  /*-card icon size-*/
  .easy {
    font-size: 3.5em;
  }
  .hard {
    font-size: 2.5em;
  }
  .swal2-confirm {
    padding: 10px !important;
    font-size: 20px !important;
  }
  .swal2-cancel {
    padding: 10px !important;
    font-size: 20px !important;
  }
}
